<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Profile
    </title>
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <%- include('index') -%>
</head>

<body>
    <div class="container">
        <form action="/change-password" method="POST">
            <div class="mb-3">
                <label for="currentPassword" class="form-label">CurrentPassword</label>
                <input type="password" name="currentPassword" class="form-control" id="exampleInputPassword1">

            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" name="newPassword" class="form-control" id="exampleInputPassword2">

            </div>
            <div class="mb-3">
                <label for="confirmNewPasssword" class="form-label"> Confirm New Password</label>
                <input type="password" name="confirmNewPasssword" class="form-control" id="exampleInputPassword3">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="js/login.js"></script>

</body>





</html>