<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User Sessions
    </title>
    <link href="css/session.css" rel="stylesheet" type="text/css">
    <%- include('index') -%>
</head>

<body>
    <div class="container">


        <ul class="flex-container">
            <% sesssions.forEach(function(session) { %>
                <li class="flex-item">

                    <div class="card">
                        <img src="https://cdn.vox-cdn.com/thumbor/tfW8we7gL80Qz1Wia37qwMOm9Co=/0x0:2040x1360/1820x1213/filters:focal(895x304:1221x630):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/68592461/vpavic_4291_20201113_0366.0.0.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <%= session.id %>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make



                                    up
                                    the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </li>
                <% }) %>

        </ul>





    </div>


</body>





</html>