.flex-container {
  display: flex;

  flex-flow: row wrap;

  justify-content: space-evenly;

  padding: 0;
  margin: 20px;
  list-style: none;
}

.flex-item {
  width: 25rem;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}
.list-group {
  border: none;
}
.list-group-key {
  font-weight: bold;
  display: inline-block;
  width: 120px;
  text-align: start;
}
